<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="E:/Maven/Individual_Project">
        <classes>
            <class name="com.github.vitalliuss.helloci.AppTest">
                <methods>
                    <include name="testShouldBePassed"/>
                    <include name="testShouldBeFailed"/>
                    <include name="testShouldBeSKipped"/>
                    <include name="testAnotherMethod"/>
                    <include name="testAnotherClass"/>
                </methods>
            </class>
            <class name="org.module.WebDriver.Hurt_Me_Plenty_Test">
                <methods>
                    <include name="checkInfoProvisionModel"/>
                    <include name="checkRegion"/>
                    <include name="checkSSD"/>
                    <include name="checkInstanceType"/>
                    <include name="checkCommitment"/>
                    <include name="checkCost"/>
                </methods>
            </class>
            <class name="org.module.WebDriver.I_Can_Win_Test">
                <methods>
                    <include name="loginVerification"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>